# Get your local IP address with: ipconfig getifaddr en0 (macOS)
# or: hostname -I (Linux)

EXPO_PUBLIC_API_URL=http://YOUR_LOCAL_IP:3001/api

# Sentry
EXPO_PUBLIC_SENTRY_DSN=https://8116b0e72f4cceee4387e07d0ec1a06e@o4511661082214400.ingest.de.sentry.io/4511684846616656
